body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: bold;

}


#app{
    margin: 50px;
    text-align: left;
    width: 20%;
    height: 20%;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(18, 82, 88, 0.787);
}

h1{
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    
    
}


a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #f60;
}

ul{
    padding-left: 0;
    list-style: none;
}

ul li{
    padding-bottom: 7px;
    
    
}

#app input{
    margin-bottom: 3px;
    display: block;
    padding: 0.5em 1em;
}

#app button{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    background-color: #f60;
    text-shadow: 2px 2px 2px rgba(0,0,0,0,0.5);
    border-radius: 0.5em;
    
}

#app button:active{
    box-shadow: 0 0 0 0 #930;
}

#app button:hover{
    background-color: rgb(224, 121, 52);
}

